@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var userId = HttpContextAccessor.HttpContext?.Session.GetInt32("UserId");
}

<div class="d-flex justify-content-center gap-3 mt-4">
    @if (userId.HasValue)
    {
        <a asp-controller="Stock" asp-action="AddStock" class="btn btn-primary btn-lg">
            Add stock
        </a>
    }
    

</div>
